/**********************************/
/******** Universal Styles ********/
/**********************************/
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: 	#505050;
}

body {
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  top: 4rem; /* To offset for fixed header. */
  max-width: 1180px;
  height: auto;
  border: 1px solid #D3D3D3;
}

/* Background section containers - Grey and White */
.grey-bkgnd-section {
  display: flex;
  align-items: center;
  background-color: #DCDCDC;
  width: 100%;
}

.whitesmoke-bkgnd-section {
  display: flex;
  align-items: center;
  background-color: #F5F5F5;
  width: 100%;
}

.button {
  background-color: #505050;
  color: white;
}

article {
  display: inline-block;
  width: 26.4375rem;
  height: 10.5rem;
}

article img {
  float: left;
  width: 35%;
  height: 8.5rem;
  margin: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.0rem;
  font-weight: 400;
  line-height: 1.2rem;
}

h6 {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}

p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  color: #505050;
}

a {
  font-size: 0.75rem;
  text-decoration: none;
  color: #0099FF;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
}

.video-container {
  display: flex;
  flex-direction: column;
}

.video-container video {
  display: block;
  max-width: 100%;
}

/********************************/
/******** Header Section ********/
/********************************/
header {
  position: fixed;
  height: 64px;
  width: 100%;
  background-color: white;
  z-index: 5;
}

header .content {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: row;
  padding: 0 1.5rem;
}

header .home {
  flex: 1;
  font-size: 1.2rem;
}

header .content a {
  text-decoration: none;
  color: #505050;
}

header .content span {
  font-weight: 700;
}

/* Header - Nav */

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  font-size: 1rem;
  vertical-align: bottom;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 720px) {
  header .desktop,
  header .logo,
  header .home {
    display: none;
  }

  header .mobile {
    display: flex;
    width: 100%;
  }

  header nav li {
    padding: 0;
  }

  header nav ul {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
  }
}

/********************************/
/******** Banner section ********/
/********************************/
#banner {
  display: flex;
  justify-content: center;
}

#banner .image-container,
#information-content .image-container {
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
  background-color: grey;
}

#banner .banner-callout {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 2rem 3rem 2rem 1rem;
}

#banner .button {
  font-size: 1rem;
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
}

#banner h1 {
  padding-bottom: 2rem;
}

#banner h3 {
  line-height: 1.5rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 720px) {

  .grey-bkgnd-section {
    flex-direction: column;
  }

  #banner img {
    display: none;
  }

  #banner .image-container {
    width: 100%;
    height: 11.25rem;
    margin: 0;
  }

  #banner .banner-callout {
    margin: 2rem 1rem;
  }

  .button {
    background-color: #A9A9A9;
  }
}

/*************************************/
/******** Information section ********/
/*************************************/
/* Main image and callout */

#information-content {
  display: flex;
}

#information-content .whitesmoke-bkgnd-section {
  align-items: flex-start;
  height: 39rem;
}

#information-content h1 {
  padding: 0 0 1.5rem 0;
}

#information-content h3 {
  padding: 1.5rem 0 0.5rem 0;
}

#information-content h4 {
  padding: 0 0 2rem 0;
}

#info-main-content{
  display: flex;
  flex: 1;
  height: 100%;
  border-right: 1px solid #D3D3D3;
}

#info-main-content article {
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

#info-main-content article img {
  width: 100%;
  height: auto;
  margin: 0 0 2rem 0;
}

/* Secondary callouts */

#info-secondary-callouts {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

#guest {
  background-color: #D3D3D3;
}

/* Hide the mobile images */
#info-secondary-callouts #mobile {
  display: none;
}

/* Mobile version - Main Information section */

@media only screen and (max-width: 720px) {

  #info-main-content {
    display: none;
  }

  #information-content .whitesmoke-bkgnd-section {
    justify-content: center;
    height: auto;
    padding: 1rem;
  }

  #info-secondary-callouts {
    margin: 0;
  }

  /* Hide the desktop images and expose mobile images */
  #info-secondary-callouts #desktop {
    display: none;
  }
  #info-secondary-callouts #mobile {
    display: flex;
  }

  #guest {
    background-color: #F5F5F5;
  }

  #info-secondary-callouts article {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
  }

  #info-secondary-callouts article img {
    width: 100%;
    height: auto;
    margin: 0 0 1rem 0;
  }

  #info-secondary-callouts h3 {
    padding: 1rem 0 0.5rem 1rem;
  }
  #info-secondary-callouts p {
    padding: 0 0 0.5rem 1rem;
  }
  #info-secondary-callouts a {
    padding: 0 0 1rem 1rem;
  }
}

/**************************************/
/********** Learning section **********/
/**************************************/
#learning-content {
  display: flex;
}

/* For desktop version */
#learning-content .grey-bkgnd-section {
  flex-direction: column;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

/* For Mobile version */
#learning-content .whitesmoke-bkgnd-section {
  flex-direction: column;
  padding: 0 1rem;
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
}

#learning-content h1 {
  padding: 2rem 0 2rem 0;
}

#learning-content h3 {
  padding: 1rem 0.5rem 0 1rem;
}

#learning-content h6 {
  padding: 0.5rem 0.5rem 0 1rem;
}

#learning-content p {
  padding: 0.5rem 0.5rem 1.5rem 1rem;
}

.course-row {
  display: flex;
  margin: 0 3rem;
  align-items: stretch;
  justify-content: center;
}

#learning-content article {
  flex-direction: column;
  width: 35%;
  height: 18rem;
  background-color: white;
  margin: 0 1rem 1rem 1rem;
}

#learning-content article img {
  width: 100%;
  height: auto;
  margin: 0 0 1rem 0;
}

.learning-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

#learning-content #mobile {
  display: none;
}

#learning-content #mobile h3 {
  width: 100%;
  padding: 1rem;
  margin: 0.25rem 0;
  background-color: #D3D3D3;
}

/* Mobile version */
@media only screen and (max-width: 720px) {

  #learning-content #desktop {
    display: none;
  }

  #learning-content #mobile {
    display: flex;
  }

  article img {
    clear: both;
  }

}

/************************************/
/********** Thesis section **********/
/************************************/
#thesis-content {
  display: flex;
}

#thesis-content .whitesmoke-bkgnd-section {
  flex-direction: column;
}

#thesis-content h1 {
  padding: 2rem 0 2rem 0;
}

#thesis-content h3 {
  padding: 2rem 0 1rem 0;
}

#thesis-content p {
  padding: 0 0 2rem 0;
}

#thesis-row {
  display: flex;
}

#thesis-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 1rem 0 1.5rem;
}

#thesis-secondary {
  flex-direction: column;
  align-items: flex-start;
  width: 26.4375rem;
}

#fisma {
  background-color: #D3D3D3;​
}

@media only screen and (max-width: 720px) {

  #thesis-main {
    margin: 0;
  }

  #thesis-secondary {
    display: none;
  }
}

/************************************/
/********** Footer section **********/
/************************************/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 2rem 1.5rem;
  border-top: 1px solid #D3D3D3;
}

footer nav ul {
  display: flex;
}

footer nav li {
  padding-left: 1rem;
}

footer nav a {
  color: #505050;
  font-size: 0.75rem;
  text-decoration: none;
}

.copyright {
  display: flex;
  font-size: 0.5rem;
}

/* Mobile version */
@media only screen and (max-width: 720px) {

  footer {
    padding: 2.5rem 1rem 1rem 1rem;
  }

  .footer-nav {
    display: none;
  }

}
