/**********************************/
/******** Universal Styles ********/
/**********************************/
/*
>> This CSS file is divided into key sections;
- Header section (includes Academy logo and nav)
- Banner section (Lead in headline banner)
- Information section (definitions for displaying lead campus related activity callouts)
- Learning (definitions for displaying popular courses)
- Thesis (definitions to showcase key thesis and video)
- Footer

** Notes to help on readability;
>> Transitions - included where there is any height or width auto adjustments to smooth out the resizing of divs
Also included on some hover states to change colors and borders on some articles and buttons.

>> Semantics - ncluded semantics where possible, including header, footer, articles, navs and headers

>> ID's - are used to identify key areas of each section

>> Media versions - key break points decided were tablet portrait at 768px width and mobile at 480px width
*/

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: 	#505050;
}

body {
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  top: 4rem; /* To offset for fixed header. */
  max-width: 1180px;
  height: auto;
  border: 1px solid #C09F80;
  transition: all 0.3s ease-in;
}

.tan-bkgnd-section {
  display: flex;
  align-items: center;
  background-color: #C09F80;
  width: 100%;
}

.lighttan-bkgnd-section {
  display: flex;
  align-items: center;
  background-color: #e3cfb5;
  width: 100%;
}

article {
  display: inline-block;
  width: 26.4375rem;
  height: 10.5rem;
}

article img {
  float: left;
  width: 35%;
  height: 8.5rem;
  margin: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.0rem;
  font-weight: 400;
  line-height: 1.2rem;
}

h6 {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}

p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  color: #505050;
}

a {
  font-size: 0.75rem;
  text-decoration: none;
  color: #0099FF;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
}

.video-container {
  display: flex;
  flex-direction: column;
}

.video-container video {
  display: block;
  max-width: 100%;
}

/********************************/
/******** Header Section ********/
/********************************/
header {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 64px;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 5;
}

header .content {
  display: flex;
  width: 1180px;
  height: 100%;
  align-items: center;
  flex-direction: row;
  padding: 0 1.5rem;
}

header .home-menu {
  flex: 1;
  font-size: 1.2rem;
  transition: color 0.1s linear 0;
}

header .home-menu:hover {
  color: #76323F;
}

header .content a {
  text-decoration: none;
  color: #505050;
}

header .content span {
  font-weight: 700;
}

/* Header - Nav */

header nav ul {
  display: flex;
  align-items: center;
}

nav li {
  padding-left: 1rem;
}

nav a {
  font-size: 1rem;
  vertical-align: bottom;
  transition: font-weight 0.1s linear 0s;
}

nav a:hover {
  font-weight: 700;
  color: #76323F;
}

header .mobile {
  display: none;
}

/** Tablet portrait version and mobile **/
@media only screen and (max-width: 768px) {
  header .desktop,
  header .logo,
  header .home-menu {
    display: none;
  }

  header .mobile {
    display: flex;
    width: 100%;
  }

  header nav li {
    padding: 0;
  }

  header nav ul {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
  }
}

/********************************/
/******** Banner section ********/
/********************************/
#banner {
  display: flex;
  justify-content: center;
}

#banner .image-container,
#information-content .image-container {
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
  background-color: #C09F80;
}

#banner .banner-callout {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 3rem 2rem 1rem;
}

#banner h1 {
  padding-bottom: 2rem;
}

#banner h3 {
  line-height: 1.5rem;
  padding-bottom: 2rem;
}

#banner h4 {
  background-color: #505050;
  color: white;
  max-width: 16rem;
  font-size: 1rem;
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease-in 0s;
}

#banner h4:hover {
  background-color: #76323F;
  cursor: pointer;
  cursor: hand;
}

/** Tablet portrait version **/
@media only screen and (max-width: 768px) {

  .tan-bkgnd-section {
    flex-direction: column;
  }

  #banner .image-container {
    margin: 2rem;
  }

  #banner .banner-callout {
    width: 60%;
    margin: 0 1rem 2rem 1rem;
  }

  #banner h1 {
    display: flex;
    padding-bottom: 2rem;
  }

  #banner h3 {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5rem;
    padding-bottom: 2rem;
  }

}

/** Mobile version **/
@media only screen and (max-width: 480px) {

  .tan-bkgnd-section {
    flex-direction: column;
  }

  #banner .image-container {
    background-color: #eadbc8;
  }

  #banner img {
    display: none;
  }

  #banner .image-container {
    width: 100%;
    height: 11.25rem;
    margin: 0;
  }

  #banner .banner-callout {
    margin: 2rem 1rem;
  }

}

/*************************************/
/******** Information section ********/
/*************************************/
/* Main image and callout */

#information-content {
  display: flex;
}

#information-content .lighttan-bkgnd-section {
  align-items: flex-start;
  height: auto;
  transition: all 0.3s ease-in;
}

#information-content h1 {
  padding: 0 0 1.5rem 0;
}

#information-content h3 {
  padding: 1.5rem 0 0.5rem 0;
}

#information-content h4 {
  padding: 0 0 2rem 0;
}

#info-main-content{
  display: flex;
  flex: 1;
  height: 100%;
  border-right: 1px solid #C09F80;
}

#info-main-content article {
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 2rem 1.5rem 2rem 1.5rem;
  transition: all 0.3s ease-in;
}

#info-main-content article img {
  width: 100%;
  height: auto;
  margin: 0 0 2rem 0;
  transition: all 0.3s ease-in;
}

/* Secondary callouts */
#info-secondary-callouts {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

#orientation,
#guest {
  background-color: #eadbc8;
}

#info-secondary-callouts article {
  transition: background-color 0.3s ease-in 0s;
}

#info-secondary-callouts article h3,
#info-secondary-callouts article h6 {
  transition: color 0.3s ease-in 0s;
}

#orientation:hover,
#campus:hover,
#guest:hover {
  background-color: #76323F;
  color: #FFFFFF;
}

/* Hide the mobile images */
#info-secondary-callouts #orientation-mobile,
#info-secondary-callouts #campus-mobile,
#info-secondary-callouts #guest-mobile {
  display: none;
}

/** Tablet Portrait version - Main Information section **/
@media only screen and (max-width: 768px) {

  #info-main-content {
    display: none;
  }

  #information-content .lighttan-bkgnd-section {
    justify-content: center;
    height: auto;
    padding: 1rem;
    transition: all 0.3s ease-in;
  }

  #info-secondary-callouts {
    margin: 0;
  }

}

/** Mobile version - Main Information section **/
@media only screen and (max-width: 480px) {

  #info-main-content {
    display: none;
  }

  #information-content .lighttan-bkgnd-section {
    justify-content: center;
    height: auto;
    padding: 1rem;
    transition: all 0.3s ease-in;
  }

  #info-secondary-callouts {
    margin: 0;
  }

  #campus {
    background-color: #f1e7da;
  }

  /* Hide the desktop images and expose mobile images */
  #info-secondary-callouts #orientation-desktop,
  #info-secondary-callouts #campus-desktop,
  #info-secondary-callouts #guest-desktop {
    display: none;
  }
  #info-secondary-callouts #orientation-mobile,
  #info-secondary-callouts #campus-mobile,
  #info-secondary-callouts #guest-mobile {
    display: flex;
  }

  #info-secondary-callouts article {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in;
  }

  #info-secondary-callouts article img {
    width: 100%;
    height: auto;
    margin: 0 0 1rem 0;
    transition: all 0.3s ease-in;
  }

  #info-secondary-callouts h3 {
    padding: 1rem 0 0.5rem 1rem;
  }
  #info-secondary-callouts h6 {
    padding: 0 0 0.5rem 1rem;
  }
  #info-secondary-callouts a {
    padding: 0 0 1rem 1rem;
  }
}

/**************************************/
/********** Learning section **********/
/**************************************/
#learning-content {
  display: flex;
}

/* For desktop version */
#learning-content .tan-bkgnd-section {
  flex-direction: column;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

#learning-content h1 {
  padding: 2rem 0 2rem 0;
}

#learning-content h3 {
  padding: 1rem 0.5rem 0 1rem;
}

#learning-content h4 {
  padding: 0.5rem 0.5rem 0 1rem;
}

#learning-content h6 {
  padding: 0.5rem 0.5rem 1.5rem 1rem;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  align-items: stretch;
  justify-content: center;
}

#learning-content article {
  flex-direction: column;
  width: 28%;
  height: auto;
  background-color: #eadbc8;
  margin: 0 1rem 1rem 1rem;
  border: 3px solid #C09F80;
  transition: all 0.3s ease-in;
}

#learning-content article:hover {
  border: 3px solid #76323F;
  color: #FFFFFF;
  background-color: #76323F;
}

#learning-content article img {
  width: 100%;
  height: auto;
  margin: 0 0 1rem 0;
  transition: all 0.3s ease-in;
}

.learning-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

#learning-content #mobile {
  display: none;
}

#learning-content #mobile h3 {
  width: 100%;
  padding: 1rem;
  margin: 0.25rem 0;
  background-color: #202020;
  color: #A9A9A9;
  transition: color 0.3s ease-in 0s,
    background-color 0.3s ease-in 0s;
}

#learning-content #mobile h3:hover {
  background-color: #76323F;
  color: #FFFFFF;
  cursor: pointer;
  cursor: hand;
}

/** Tablet portrait version - Learning section **/
@media only screen and (max-width: 768px) {

  #learning-content article {
    width: 35%;
    height: auto;
    transition: all 0.3s ease-in;
  }
}

/** Mobile version - Learning section **/
@media only screen and (max-width: 480px) {

  #learning-content #desktop {
    display: none;
  }

  #learning-content #mobile {
    display: flex;
  }

  article img {
    clear: both;
  }
}

/************************************/
/********** Thesis section **********/
/************************************/
#thesis-content {
  display: flex;
}

#thesis-content .lighttan-bkgnd-section {
  flex-direction: column;
}

#thesis-content h1 {
  padding: 2rem 0 2rem 0;
}

#thesis-content h3 {
  padding: 2rem 0 1rem 0;
}

#thesis-content p {
  padding: 0 0 2rem 0;
}

#thesis-row {
  display: flex;
}

#thesis-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 1rem 0 1.5rem;
}

#thesis-secondary {
  flex-direction: column;
  align-items: flex-start;
  width: 26.4375rem;
}

#fisma {
  background-color: #eadbc8;
}

#thesis-secondary article {
  transition: background-color 0.3s ease-in 0.1s,
    color 0.3s ease-in 0s;
}

#fisma:hover,
#new-york:hover {
  background-color: #76323F;
  color: white;
}

/** Tablet Portraid version - Thesis section **/
@media only screen and (max-width: 768px) {

  #thesis-main {
    margin: 0;
  }

  #thesis-secondary {
    display: none;
  }
}

/** Mobile version - Thesis section **/
@media only screen and (max-width: 768px) {

  #thesis-main {
    margin: 0;
  }

  #thesis-secondary {
    display: none;
  }

  #thesis-main h3,
  #thesis-main p {
    display: none;
  }
}

/************************************/
/********** Footer section **********/
/************************************/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f3ed;
  padding: 1rem 1.5rem 2rem 1.5rem;
  border-top: 1px solid #C09F80;
}

footer nav ul {
  display: flex;
}

footer nav li {
  padding-left: 1rem;
}

footer nav a {
  color: #505050;
  font-size: 0.75rem;
  text-decoration: none;
}

.copyright {
  display: flex;
  font-size: 0.5rem;
}

/** Mobile version - Footer **/
@media only screen and (max-width: 480px) {

  footer {
    padding: 2.5rem 1rem 1rem 1rem;
  }

  .footer-nav {
    display: none;
  }
}

/** END OF FILE **/
